body{
font-family: 'Dancing Script', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
margin: 0 auto;
}
header{
    background-color:#0138E9;
    color: white;
    position:relative;
    clear: both;
    border: 1px;
    padding: 5px;
    margin:0px;
}
#menu{
    overflow:hidden;
    background-color: #0138E9;
    border-bottom: 15px solid #FF1493;
}
#menu a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
#menu a:hover{
    background-color: #FF1493;
    color: black;
}
img{
    max-width: 240px;
    max-height: 240px;
    margin: 3px;
    padding: 3px;
}
#container{
    padding-bottom: 2.5rem;
    position: relative;
    float: left;
}
#Judy{
    padding-bottom: 10px;
    max-width: 100%;
}
figure{
    border: 1px solid blue;
    margin: 15px;
    max-width: 26%;
    float: left;
}
figcaption{
    display: block;
    padding: 2px;
    text-align: center;
}
#footer{
    background-color: #0138E9;
    position:relative;
    bottom:0;
    padding-bottom: 0px;
    width: 100%;
    text-align: right;
}
#footer p{
    color: white;
    font-weight: 400;
    float:left;
    padding-right: 10px;
    font-style: italic;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer a:hover{
    text-decoration: underline;
}